<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta name="keywords" content="{$SEO['keyword']}">
		<meta name="description" content="{$SEO['description']}">
    <link href="{CSS_PATH}myi/bootstrap.min.css" rel="stylesheet">
    <link href="{CSS_PATH}myi/style.css" rel="stylesheet">
    <link href="{CSS_PATH}fonts/iconfont.css" rel="stylesheet">
    <script src="{JS_PATH}myi/modernizr.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="{JS_PATH}myi/html5shiv.min.js"></script>
      <script src="{JS_PATH}myi/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
<div class="container-wap w640 box">
	<div class="iphone__screen">
{template "content","header"}	
		<div class="iphone__content">		
 	<section> 		
		<div class="article-info box w620">
			<div class="case-title row">
				<h1>{$title}</h1>
				<span class="position"><a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} 正文</span>
			</div>
			<article>
				{$content}
			</article>
		</div>
 	</section> 	
{template "content","footer"}	
  </body>
</html>